.nav-link{
    color: black;
    font-size: 30px;
}
.navbar-brand{
    font-size: 40px;
}
.navbar-collapse{
    justify-content: flex-end;
}

.album{
    background-color: #c0c0b2;
    text-align: center;
}

.two{
    max-height: auto;
    width: auto;
}
