.nav-link{
    color: black;
    font-size: 30px;
}
.navbar-brand{
    font-size: 40px;
}
.navbar-collapse{
    justify-content: flex-end;
}

.album{
    background-color: #c0c0b2;
    text-align: center;
}

.card-img-top{
    max-height: 150px;
}

a{
    text-decoration: none;
    color: black;
}
.two{
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.add{
    display: flex;
    font-size: 30px;
    justify-content: space-around;
    align-items: center;
}

.albums:hover{
    text-shadow: 2px 2px 5px red;
}
.songs:hover{
    text-shadow: 2px 2px 5px red;
}

.card:hover,
.card:focus{
    box-shadow: 10px 20px 10px -4px black;
  transform: translateY(-0.25em);
}

@keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--hover); }
  }
.col-md-6{
    padding: 20px;
}
.gray{
    background-color: #e6e6cd;
    margin: 10px;
    padding: 5px;
}
.rock{
    background-color: #b20000;
}
.pop{
    background-color: #00b2b2;
}
.metal{
    background-color: black;
}
.jazz{
    background-color: #cccc20;
}
.house{
    background-color: gray;
}
.blues{
    background-color: #3232ff;
}