{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    {% if user.is_authenticated %}
    <div class="row">
         <div class="col-12 md-8 left">
            <div class = 'add'>
                <a href="/add" class="albums"> Add Album</a>
                <a href="/add1" class="songs">Add Song</a>
            </div>
    {% endif %}
                {% for album in album_list %}
                <div class="row d-flex justify-content-around">
                <div class="col-md-6 sm-4 mb-3 ">
                    {% if 'Rock' in album.genre %}
                    <div class="card rock">
                    {% elif 'Metal' in album.genre %}
                    <div class="card metal">
                    {% elif 'Pop' in album.genre %}
                    <div class="card pop">
                    {% elif 'Jazz' in album.genre %}
                    <div class="card jazz">
                    {% elif 'Blues' in album.genre %}
                    <div class="card blues">
                    {% elif 'House' in album.genre %}
                    <div class="card house">
                    {% else %}
                    <div class="card">
                    {% endif %}
                    
                        {% if "default" in album.image.url %}
                        <img src="https://streaming-music-app.s3.eu-west-1.amazonaws.com/download.jfif" class="card-img-top" alt="default image">
                        {% else %}
                        <img src="{{ album.image.url }}" alt="album image" class="card-img-top img-fluid">
                        {% endif %}
                        
                        <div class="card-body">
                            <div class="card-body">
                                {% if 'Other' in album.genre %}
                                <a href="{% url 'albums' album.id %}">
                                {% else %}
                                <a href="{% url 'albums' album.id %}" class="text-white">
                                {% endif %}
                                <h3>{{ album.title }}</h3>
                                <h3>{{ album.genre }}</h3>
                                <h3>{{ album.owner }}</h3>
                                {% if 'Other' in album.genre %}
                                <div class="mb-2">
                                <strong>
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                <span class="text-secondary">{{ album.number_of_likes }} </span>
                                </strong>
                                </div>
                                {% else %}
                                <div class="mb-2">
                                    <strong>
                                    <span class="text-secondary text-white"><i class="far fa-heart"></i></span>
                                    <span class="text-secondary text-white">{{ album.number_of_likes }} </span>
                                    </strong>
                                    </div>
                                {% endif %}
                                {% if album.owner == request.user or user.is_superuser %}
                                <a href="edit/{{ album.id }}"> 
                                    
                                    <button class="btn btn-warning bottom">Edit Album </button>
                                </a> 
                                {% else %}
                                {% endif %}
                                </a>
                                {% if 'Other' in album.genre %}
                                <p class="card-text">
                                    {{ album.description }}
                                {% else %}
                                <p class="text-white">
                                    {{ album.description }}
                                </p>
                                {% endif %}
                                  
                    </div>
                </div>
                </div>
            </div>
        </div>
                {% endfor %}
            </div>

         </div>
    </div>

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
