{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row">
         <div class="col-12 md-8 left">
            <div class="row">
                <div class="card">
                    {% if "default" in album.image.url %}
                    <img src="https://streaming-music-app.s3.eu-west-1.amazonaws.com/static/image/spotiflix.jpg" class="card-img-top">
                    {% else %}
                    <img src="{{ album.image.url }}" alt="album image" class="card-img-top two">
                    {% endif %}
                <div class="album">
                    <h1>album title: {{ album.title }}</h1>
                    <h2> Composer: {{ album.artist }}</h2>
                    <h2> Created on: {{ album.created_on }}</h2>
                    <a href="remove/{{ album.id }}"><button class="btn btn-danger btn-lg">Remove</button></a>
                    </div>

                </div>
                {% for song in songs %}
                <div class="col-8 gray ">
              
                <div class="card-title">
                <h2> song: {{ song.title }}</h2>
                </div>
                <div class="card-subtitle mb-2 text-muted">
                <h3> artist: {{ song.artist }}</h3>
                </div>
                </a>
                <div>
                    Composed on: {{ song.uploaded_on }}
                </div>
                <audio src="{{ song.file.url }}" controls></audio>
                <div>
                    <p>Download me !<a href="{{ song.file.url }}"><i class="fa-solid fa-download"></i></a></p>
                </div>
                <div>
                    <a href="/edit1/{{ song.id }}"> 
                        <button>Edit Song </button>
                    </a>
                </div>
                    <div class="col align-self-center">
                    <a href="delete/{{ song.id }}"><button class="btn btn-danger btn-lg">Remove</button></a>
                    </div>
                </div>
               
            
            </div>
            </div>
                {% endfor %}
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}
