{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid">
    <div class="row">
         <div class="col-12 md-8 left">
            <div class="row">
                <div class="card">
                    {% if "default" in album.image.url %}
                    <img src="https://streaming-music-app.s3.eu-west-1.amazonaws.com/static/image/spotiflix.jpg" class="card-img-top">
                    {% else %}
                    <img src="{{ album.image.url }}" alt="album image" class="card-img-top two">
                    {% endif %}
                <div class="album">
                    <h1>album title: {{ album.title }}</h1>
                    <h2> Created on: {{ album.created_on }}</h2>
                    <h2> Owner: {{ album.owner }}</h2>
                    {% if album.owner == request.user %}
                    <a href="remove/{{ album.id }}"><button class="btn btn-danger btn-lg bottom">Remove</button></a>
                    {% else %}
                    {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-1">
                            <strong>
                                {% if user.is_authenticated %}
                                <form action="{% url 'albums_like' album.id %}" class="d-inline" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                    <button type="submit" name="album_id" value="{{album.title}}" class="btn-like" ><i class="fas fa-heart"></i></button>
                                    {% else %}
                                    <button type="submit" name="album_id" value="{{album.title}}" class="btn-like" ><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                                {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                                {% endif %}
                                <span class="text-secondary">{{ album.number_of_likes }} </span>
                            </strong>
                        </div>
                            <div class="col-1">
                                {% with comments.count as total_comments %}
                                <strong class="text-secondary"><i class="far fa-comments"></i>
                                <span class="text-secondary">{{ total_comments }}</span>   
                                </strong>
                                {% endwith %}
                
            </div>

            </div>
                {% for song in songs %}
                <div class="col-8 gray ">
              
                <div class="card-title">
                <h2> song: {{ song.title }}</h2>
                </div>
                <div class="card-subtitle mb-2 text-muted">
                <h3> artist: {{ song.last_name_artist }}</h3>
                </div>
                </a>
                <div>
                    Composed on: {{ song.uploaded_on }}
                </div>
                <audio src="{{ song.file.url }}" controls></audio>
                <div>
                    <p>Download me !<a href="{{ song.file.url }}"><i class="fa-solid fa-download"></i></a></p>
                </div>
                <div>
                    {% if album.owner == request.user %}
                    <a href="/edit1/{{ song.id }}">  
                        <button class="btn btn-warning bottom">Edit Song </button>
                    {% else %}
                    {% endif %}
                    </a>
                </div>
                    <div class="col align-self-center">
                    {% if album.owner == request.user %}
                    <a href="delete/{{ song.id }}"><button class="btn btn-danger btn-lg">Remove</button></a>
                    {% else %}
                    {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <hr>
    </div>
</div>
<div class="row">
    <div class="col card mb-4  mt-3 ">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    {{ comment.name }}
                    <span class=" text-muted font-weight-normal">
                        {{ comment.created_on }}
                    </span> wrote:
                </p>
                {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-4 card mb-4  mt-3 ">
        <div class="card-body">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}
            {% if user.is_authenticated %}

            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>
</div>
            

{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
{% endif %}
    </ul>
</nav>
{% endblock %}
