{% extends "base.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
         <div class="col-12 md-8 left">
            <div class="row">
                {% for album in album_list %}
                
                <div class="col-6 md-4">
                    {% if 'Rock' in album.genre %}
                    <div class="card rock">
                    {% elif 'Metal' in album.genre %}
                    <div class="card metal">
                    {% elif 'Pop' in album.genre %}
                    <div class="card pop">
                    {% elif 'Jazz' in album.genre %}
                    <div class="card jazz">
                    {% elif 'Blues' in album.genre %}
                    <div class="card blues">
                    {% elif 'House' in album.genre %}
                    <div class="card house">
                    {% elif 'Other' in album.genre %}
                    <div class="card metal">
                    {% else %}
                    <div class="card">
                        {% endif %}
                        {% if "default" in album.image.url %}
                        <img src="https://streaming-music-app.s3.eu-west-1.amazonaws.com/download.jfif" class="card-img-top">
                        {% else %}
                        <img src="{{ album.image.url }}" alt="album image" class="card-img-top">
                        {% endif %}
                        
                        <div class="card-body">
                            <div class="card-body">
                                <a href="{% url 'albums' album.title %}">
                                <h3>{{ album.title }}</h3>
                                <h3>{{ album.artist }}</h3>
                                <h3>{{ album.genre }}</h3>  
                                </a>                           
                                <p class="card-text">
                                    {{ album.description }}
                                </p>
                                <p class="card-text text-muted h6">{{ album.created_on}} <i class="far fa-heart"></i>
                                    {{ album.number_of_likes }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <a href="/add"> Add Album</a>
                <a href="/add1">Add Song</a>
            </div>

         </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}
